body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(191, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "TaskFont";
  src: url(./font1.ttf);
}

@font-face {
  font-family: "WordsFont";
  src: url(./font2.ttf);
}
